<section>
  <% @items.each do |item| %>
  <article>
    <dl>
      <dt>Item: </dt>
      <dd><%= item['item'] %></dd>
      <a class="show" href="/items/<%= item['id'] %>">Show</a>
    </dl>

  </article>
  <% end %>
</section>   